nav.navbar.navbar-default {
    margin-bottom: 0;
  }
.nav-item {
  color:white;
  font-size: large;
  padding: 10px 10px;
  align-self: center;
}

.nav-link {
  color: white;
  font-size: large;
  padding: 10px 10px;
  align-self: center;
}