.header {
    background-color: lightgrey;
    background-repeat: repeat;
    color: black;
    min-height: 50px;
    max-height: 100px;
    padding: 180px 20px;
    padding-bottom: 231px;
    text-align: center;
}

.header h1 {
    margin: 0;
    margin-bottom: 2px;
    font-size: 4rem;
}

img {
    width: 25%; height: auto;
    border-radius: 50%;
    float: left;
    position: relative;
    top: -200px;
}